'name': 'Sparql'
'scopeName': 'source.sparql-treesitter'
'type': 'tree-sitter'
'parser': 'tree-sitter-sparql'

'fileTypes': [
  'rq'
]

scopes:
  'unit': 'source.sparql-treesitter'

  'base_declaration': 'keyword.sparql-treesitter'

  'prefix_declaration': 'keyword.sparql-treesitter'

  'pn_prefix': 'constant.complex.sparql-treesitter'

  'iri_reference': 'support.function.sparql-treesitter' #'string.uri.sparql-treesitter'

  'integer': 'constant.numeric.decimal'

  'string': 'string.quoted_single' # string.sparql-treesitter

  'var': 'variable.sparql-treesitter'
